<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="custom_faqs" frontName="custom_faqs">
            <module name="MageSuper_Faq" />
        </route>
    </router>
</config>