# 2021-03-17 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/readme.md
!/app/code/**/*
!/app/design/frontend/MageSuper/**/*
!/app/etc/config.php
!/lib/internal/ArimoFont/**/*
# 2021-03-17 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "How to fix product images in Magento ≥ 2.3.5 in Windows?": https://mage2.pro/t/6210
!/vendor/magento/framework/Image/Adapter/Gd2.php
# 2021-03-17 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "How to fix the «Invalid template file» / «require_js.phtml» failure of Magento ≥ 2.3 in Windows?":
# https://mage2.pro/t/5774
!/vendor/magento/framework/View/Element/Template/File/Validator.php
# 2021-03-21 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «preg_match() expects parameter 2 to be string, object given
# in vendor/magento/module-catalog/Helper/Output.php:245»: https://github.com/canadasatellite-ca/site/issues/28
!/vendor/magento/module-catalog/Helper/Output.php
# 2021-05-14 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «A non well formed numeric value encountered
# in vendor/magento/module-catalog-search/Model/Layer/Filter/Price.php on line 145»:
# https://github.com/canadasatellite-ca/site/issues/28
!/vendor/magento/module-catalog/Model/Layer/Filter/DataProvider/Price.php
# 2021-05-16 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) «Broken reference: the 'skip_gallery_before' tries to reorder itself towards 'product.info.media.image',
# but their parents are different: 'skip_gallery_before.wrapper' and 'product.info.media' respectively»:
# https://github.com/canadasatellite-ca/site/issues/111
# «2) Broken reference: the 'skip_gallery_after' tries to reorder itself towards 'product.info.media.image',
# but their parents are different: 'skip_gallery_after.wrapper' and 'product.info.media' respectively»:
# https://github.com/canadasatellite-ca/site/issues/112
!/vendor/magento/module-catalog/view/frontend/layout/catalog_product_view.xml
# 2021-03-27 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Invalid customer address id <…>»: https://github.com/canadasatellite-ca/site/issues/49
!/vendor/magento/module-quote/Model/QuoteAddressValidator.php
# 2021-06-27 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «The product that was requested doesn't exist. Verify the product and try again.»:
# https://github.com/canadasatellite-ca/site/issues/192
!/vendor/magento/module-sales/CustomerData/LastOrderedItems.php
# 2021-03-30 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«The following tag(s) are not allowed: img» on sales/order/invoice/order_id/<…>":
# https://github.com/canadasatellite-ca/site/issues/57
!/vendor/magento/module-sales/view/frontend/templates/order/invoice/items/renderer/default.phtml
# 2021-03-26 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«DOMDocument::loadHTML(): Tag date invalid in Entity, line: 1» on /sales/order/view/order_id/<order_id>":
# https://github.com/canadasatellite-ca/site/issues/45
# https://github.com/magento/magento2/issues/25738#issuecomment-563473682
!/vendor/magento/module-sales/view/frontend/templates/order/order_date.phtml
/update/
/dev
/vendor/codeception
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/tubalmartin
