<!--@subject {{trans 'Review Approved'}} @-->
<!--@vars {
"var customer_name":"Customer Name",
"var review":"Review",
"var unsubscribe_url":"Unsubscribe Url"
} @-->
{{template config_path="design/email/header_template"}}

<p class="notification-content">
    {{trans 'Dear, %customer_name.' customer_name=$customer_name}}
    <br>
    <br>
    {{trans 'Your review has been approved.'}}
    <br>
    <br>
    <b>{{trans 'Review Summary:'}}</b> {{var review.summary}}<br>
    <b>{{trans 'Review Rating:'}}</b> {{var review.absolute_rating}} {{trans 'star(s)'}}<br>
    <b>{{trans 'Review Content:'}}</b>
    <p class="review-content">
        <i>{{var review.content}}</i>
    </p>

    {{trans 'Thank you for your feedback!' }}

    <p><a href="{{var unsubscribe_url}}">{{trans 'Unsubscribe from notifications'}}</a></p>
</p>

{{template config_path="design/email/footer_template"}}