<?xml version="1.0"?>
<!--
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Cart2Quote
 * @package     Desk
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (https://www.cart2quote.com)
 * @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Cart2Quote\Desk\Api\TicketRepositoryInterface"
                type="Cart2Quote\Desk\Model\ResourceModel\TicketRepository" />
    <preference for="Cart2Quote\Desk\Api\Data\TicketInterface" type="Cart2Quote\Desk\Model\Data\Ticket" />
    <preference for="Cart2Quote\Desk\Api\Data\TicketSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Cart2Quote\Desk\Api\MessageRepositoryInterface"
                type="Cart2Quote\Desk\Model\ResourceModel\Ticket\MessageRepository" />
    <preference for="Cart2Quote\Desk\Api\Data\MessageInterface" type="Cart2Quote\Desk\Model\Data\Ticket\Message" />
    <preference for="Cart2Quote\Desk\Api\Data\MessageSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Cart2Quote\Desk\Api\TicketMetadataManagementInterface"
                type="Cart2Quote\Desk\Model\Metadata\TicketMetadataManagement" />
</config>
