<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="cannotCreateSalesOrderFromAmazonOrder" xsi:type="string">
                    Magento\Amazon\Notification\CannotCreateSalesOrders
                </item>
            </argument>
        </arguments>
    </type>
     <virtualType name="Magento\Amazon\Ui\DataProvider\Settings\Credentials\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="setting_credentials_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Settings\Credentials\Modifier</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Settings\Credentials\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Amazon\Ui\DataProvider\Settings\Credentials\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Settings\Credentials\Modifier">
        <arguments>
            <argument name="scopeName" xsi:type="string">settings_form.settings_form</argument>
        </arguments>
    </type>
     <virtualType name="Magento\Amazon\Ui\DataProvider\Settings\Listings\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="setting_listings_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Settings\Listings\Modifier</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Settings\Listings\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Amazon\Ui\DataProvider\Settings\Listings\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Settings\Listings\Modifier">
        <arguments>
            <argument name="scopeName" xsi:type="string">settings_form.settings_form</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Amazon\Ui\DataProvider\Settings\Orders\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="setting_listings_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Settings\Orders\Modifier</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Settings\Orders\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Amazon\Ui\DataProvider\Settings\Orders\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Settings\Orders\Modifier">
        <arguments>
            <argument name="scopeName" xsi:type="string">settings_form.settings_form</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Amazon\Ui\DataProvider\Listing\Rules\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="setting_listings_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Rules\Modifier</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Rules\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Amazon\Ui\DataProvider\Listing\Rules\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Rules\Modifier">
        <arguments>
            <argument name="scopeName" xsi:type="string">settings_form.settings_form</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Amazon\Ui\DataProvider\Pricing\Rules\Create\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="setting_listings_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Pricing\Rules\Create\Modifier</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Pricing\Rules\Create\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Amazon\Ui\DataProvider\Pricing\Rules\Create\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Pricing\Rules\Create\Modifier">
        <arguments>
            <argument name="scopeName" xsi:type="string">settings_form.settings_form</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Amazon\Ui\DataProvider\Listing\Overrides\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="setting_listings_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Overrides\Modifier</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Overrides\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Amazon\Ui\DataProvider\Listing\Overrides\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Overrides\Modifier">
        <arguments>
            <argument name="scopeName" xsi:type="string">settings_form.settings_form</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Amazon\Ui\DataProvider\Listing\Update\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="setting_listings_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Update\Modifier</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Update\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Amazon\Ui\DataProvider\Listing\Update\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Update\Modifier">
        <arguments>
            <argument name="scopeName" xsi:type="string">settings_form.settings_form</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Amazon\Ui\DataProvider\Listing\Alias\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="setting_listings_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Alias\Modifier</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Alias\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Amazon\Ui\DataProvider\Listing\Alias\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Alias\Modifier">
        <arguments>
            <argument name="scopeName" xsi:type="string">settings_form.settings_form</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Amazon\Ui\DataProvider\Listing\Thirdparty\Create\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="setting_listings_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Thirdparty\Create\Modifier</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Thirdparty\Create\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Amazon\Ui\DataProvider\Listing\Thirdparty\Create\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Listing\Thirdparty\Create\Modifier">
        <arguments>
            <argument name="scopeName" xsi:type="string">settings_form.settings_form</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Attribute\Value\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="setting_listings_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Amazon\Ui\DataProvider\Form\Amazon\Attribute\Value\Modifier</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Attribute\Value\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Amazon\Ui\DataProvider\Form\Amazon\Account\Attribute\Value\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Amazon\Ui\DataProvider\Form\Amazon\Attribute\Value\Modifier">
        <arguments>
            <argument name="scopeName" xsi:type="string">settings_form.settings_form</argument>
        </arguments>
    </type>
</config>
