<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="saleschannels" translate="label" sortOrder="405">
            <label>Sales Channels</label>
        </tab>
        <section id="saleschannels" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Global Settings</label>
            <tab>saleschannels</tab>
            <resource>Magento_SalesChannels::saleschannels</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Sales Channel Settings</label>
                <field id="log_history" translate="log_history" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Clear Log History</label>
                    <comment>Represents the number of days to hold activity logs.</comment>
                    <source_model>Magento\Amazon\Ui\Component\Form\Settings\Log\Options</source_model>
                </field>
                <field id="cron_source" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Background Tasks (CRON) Source</label>
                    <comment>For optimal performance, it is recommended to run background tasks (CRON) once per minute. By default, this is set to automatically run via the standard Magento CRON.  For advanced users, you may configure Command Line (CLI) CRON task to run once per minute using the command (from \bin relative to your Magento root folder) channel:amazon:run.  In such cases, you would select the Command Line CRON.</comment>
                    <source_model>Magento\Amazon\Ui\Component\Form\Settings\Cron\Options</source_model>
                </field>
                <field id="debug_logging" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Debug Logging</label>
                    <comment>Changes verbosity level for sales channel logging. Helps to identify synchronization issues.</comment>
                    <source_model>Magento\Amazon\Ui\Component\Form\Settings\DebugLogging</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
