<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <failurepayment>
                <active>1</active>
                <model>Brsw\FailurePayment\Model\FailurePayment</model>
                <order_status>processing</order_status>
                <title>Failure Payment</title>
            </failurepayment>
        </payment>
    </default>
</config>