.action.scalable.spectrumButton,
.page-actions .page-actions-buttons .spectrumButton,
.page-actions .amazon-topbar-rightCol .spectrumButton,
.page-actions .page-actions-buttons > button.spectrumButton {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    margin: auto;
    height: auto;
    min-height: 32px;
    min-width: 72px;
    padding: 4px 14px;
    padding-bottom: 4.5px;
    padding-top: 3.5px;
}

.action.scalable.spectrumButton:hover,
.page-actions .page-actions-buttons .spectrumButton:hover,
.page-actions .amazon-topbar-rightCol .spectrumButton:hover,
.page-actions .page-actions-buttons > button.spectrumButton:hover {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
}

.action.scalable.spectrumButton--secondary,
.page-actions .page-actions-buttons .spectrumButton--secondary,
.page-actions .amazon-topbar-rightCol .spectrumButton--secondary,
.page-actions .page-actions-buttons > button.spectrumButton--secondary {
    background-color: transparent;
    border-color: transparent;
    color: rgb(110, 110, 110);
}

.action.scalable.spectrumButton--secondary:hover,
.page-actions .page-actions-buttons .spectrumButton--secondary:hover,
.page-actions .amazon-topbar-rightCol .spectrumButton--secondary:hover,
.page-actions .page-actions-buttons > button.spectrumButton--secondary:hover {
    background-color: rgb(244, 244, 244);
    border-color: transparent;
    color: rgb(110, 110, 110);
}

.action.scalable.spectrumButton--secondary.back::before,
.page-actions .page-actions-buttons .spectrumButton--secondary.back::before,
.page-actions .amazon-topbar-rightCol .spectrumButton--secondary.back::before,
.page-actions .page-actions-buttons > button.spectrumButton--secondary.back::before {
    content: '\e626';
    margin-right: .5em;
    position: relative;
    top: 1px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Admin Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

