<?xml version="1.0"?>
<!--
/**
* Magedelight
 * Copyright (C) 2017 Magedelight <info@magedelight.com>
 *
 * @category Magedelight
 * @package Magedelight_Subscribenow
 * @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">      
                <resource id="Magento_Sales::sales" title="sales" sortOrder="20">
                    <resource id="Magento_Sales::sales_operation" title="Operations" sortOrder="10">
                        <resource id="Magedelight_Subscribenow::subscribenow_productsubscription" title="Product Subscription" sortOrder="11" />
                    </resource>
                </resource>                                                                    
                <resource id="Magento_Reports::report" title="Reports" sortOrder="70">
                    <resource id="Magedelight_Subscribenow::subscribenowreport" title="Subscription Report" sortOrder="90">
                        <resource id="Magedelight_Subscribenow::subscribenow_product" title="Product Subscription" sortOrder="10" />
                        <resource id="Magedelight_Subscribenow::subscribenow_customer" title="Customer Subscription" sortOrder="20" />
                        <resource id="Magedelight_Subscribenow::subscribenow_futureproducts" title="Future Products Subscription" sortOrder="30" />
                    </resource>      
                </resource>                        
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magedelight_Subscribenow::md_subscribenow" title="Subscribenow" />
                        </resource>
                    </resource>
                </resource>                
            </resource>
        </resources>
    </acl>
</config>
