#sales-order-email-edit .block.so-email-edit {
    width: 100%;
}
.so-email-edit-content {
    display: none;
}
.so-email-edit-content .messages {
    display: none;
}
.so-email-edit-content h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: initial;
    margin: 15px 0px;
}
.so-email-edit-content.block.so-email-edit .action-default {
    display: block;
    margin-top: 10px;
    width: 100%;
}
.so-email-edit-content #email-edit-submit .action-default .edit.primary {
    border-radius: 3px;
    width: 100%;
    display: block;
}
.sales-order-email-edit.modal-popup .modal-inner-wrap{
    max-width: 25%;
    width: 100%;
}
.sales-order-email-edit.modal-popup .content .control input{
    width: 100%;
    padding: 2px 5px;
}