<?xml version="1.0"?>
<!--
  ~ /**
  ~  Copyright © 2016 Magestore. All rights reserved.
  ~  See COPYING.txt for license details.
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- convert rewardpoint from quote to order -->
    <event name="payment_method_is_active">
        <observer name="disable_some_methods_for_frontend_payment_method_is_active" instance="Digit\Paymentmethods\Observer\DisablePaymentMethods" />
    </event>
</config>