<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--<virtualType name="Magento\Catalog\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="regular_price" xsi:type="string">Interactivated\Price\Pricing\Price\RegularPrice</item>
                <item name="special_price" xsi:type="string">Interactivated\Price\Pricing\Price\SpecialPrice</item>
            </argument>
        </arguments>
    </virtualType>-->
    <type name="Magento\Catalog\Model\Product">
        <plugin name="interactivated-productprice" type="Interactivated\Price\Plugin\Product" sortOrder="30" />
    </type>
</config>
