<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="catalog_category_save_after">
        <observer instance="MageSuper\CustomProductCategoryUrl\Observer\Catalog\CategorySaveAfter" name="magesuper_customproductcategoryurl_observer_catalog_categorysaveafter_catalog_category_save_after"/>
        <observer name="process_url_rewrite_saving" disabled="true"/>
    </event>
    <event name="catalog_category_move_after">
        <observer name="custom_process_url_rewrite_moving" instance="MageSuper\CustomProductCategoryUrl\Observer\CategoryProcessUrlRewriteMovingObserver"/>
        <observer name="process_url_rewrite_moving" disabled="true"/>
    </event>
</config>
