<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_submit_all_after">
        <observer name="brosolutions_checkout_submit_all_after_register"
                  instance="BroSolutions\GuestRegistration\Observer\ConvertGuestToCustomer"/>
    </event>
    <event name="paypal_express_place_order_success">
        <observer name="brosolutions_paypal_express_place_order_success_register"
                  instance="BroSolutions\GuestRegistration\Observer\ConvertGuestToCustomer"/>
    </event>

</config>
