<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="CanadaSatellite\SimpleAmqp\Logger\LoggerFactory">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="canadaSatelliteStartConsumerCommand" xsi:type="object">CanadaSatellite\SimpleAmqp\Console\StartConsumerCommand</item>
            </argument>
        </arguments>
    </type>
</config>
