<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dynamics>
            <credentials>
                <client_id>0f26018d-12e1-4a69-b1b2-b50e913dec62</client_id>
                <client_secret>PqOSXmbagQE58rps5hy7UvZVaIGTEZdrApk3BsnEYbE=</client_secret>
                <resource>https://canadasatellite.crm.dynamics.com</resource>
            </credentials>
        </dynamics>
		<ast>
			<credentials>
				<username>D-ONC001-A_API</username>
				<password>najsqydS$1</password>
			</credentials>
			<urls>
				<base_point>https://api.theastgroup.com:200/</base_point>
				<login>token</login>
				<iridium>
					<base_part>ibisapi/prov/iridium/</base_part>
					<activation>activation</activation>
					<deactivation>deactivation</deactivation>
					<suspension>suspension</suspension>
					<unsuspension>unsuspension</unsuspension>
					<topup>topup</topup>
					<balance>balanceenquiry</balance>
					<swap>simswap</swap>
					<modification>modification</modification>
				</iridium>
				<inmarsat>
					<base_part>ibisapi/prov/inmarsat/</base_part>
					<activation>activation</activation>
					<deactivation>deactivation</deactivation>
					<suspension>suspension</suspension>
					<unsuspension>unsuspension</unsuspension>
					<topup>topup</topup>
					<balance>balanceenquiry</balance>
					<swap>simswap</swap>
					<modification>modification</modification>
					<create_vessel>createvessel</create_vessel>
				</inmarsat>
				<action_status>ibisapi/prov/status</action_status>
			</urls>
		</ast>
		<map_options>
			<sim_order>
				<plan>PLAN SELECTION</plan>
			</sim_order>
			<topup>
				<phone_number>IRIDIUM PHONE OR SIM #,ISATHUB SIM OR PHONE #,BGAN PHONE OR SIM NUMBER</phone_number>
			    <target_sku>SELECT PLAN,SELECT TOP UP,ADD BGAN PREPAID PLAN</target_sku>
			</topup>
		</map_options>
		<magento>
			<regulars>
				<get_sim_list_from_order_note>/(.*?)\s*-\s*please visit.*to activate your sim/i</get_sim_list_from_order_note>
				<split_sims_from_list>/(?:(89\d+);?\s?)+?/i</split_sims_from_list>
			</regulars>
		</magento>
    </default>
</config>