<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<preference for="Magento\Catalog\Model\ResourceModel\Product\Option\Value" type="MageSuper\CustomizableOptionsPatch\Model\ResourceModel\Product\Option\Value" />
</config>