/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

.color-select{
    padding-left:40px;
}
.question_window {
    height: 27px;
    margin-left: 4px;
    margin-top: 11px;
    position: absolute;
    top: -8px;
    border: 1px solid #adadad;
    width: 32px;
}
