<?xml version="1.0"?>
<!--
/**
 * Copyright © Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mageside_CanadaPostShipping::manifest"
             title="Canada Post Manifests"
             translate="title"
             module="Mageside_CanadaPostShipping"
             sortOrder="35"
             parent="Magento_Sales::sales_operation"
             action="canadapost/manifest"
             resource="Mageside_CanadaPostShipping::mageside_canadapost_shipping"/>
    </menu>
</config>