<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">

                <resource id="Magento_Backend::content" title="content" sortOrder="30">
                    <resource id="Magedelight_Faqs::content_elements" title="FAQ" sortOrder="10">
                        <resource id="Magedelight_Faqs::category" title="FAQ Categories" sortOrder="10" />
                        <resource id="Magedelight_Faqs::faq" title="FAQ Questions" sortOrder="10" />
                    </resource>
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magedelight_Faqs::config_faq" title="Product Faqs Configuration" />
                        </resource>
                    </resource>
                </resource>
                <!--</resource>-->
            </resource>
        </resources>
    </acl>
</config>
