<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Api\ProductRepositoryInterface" type="Magento\Catalog\Model\ProductRepository" />
    <type name="CanadaSatellite\AstIntegration\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="CanadaSatellite\AstIntegration\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ast</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">CanadaSatellite\AstIntegration\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="greeting_command" xsi:type="object">CanadaSatellite\AstIntegration\Console\Command\GreetingCommand</item>
                <item name="ast_integration_import_orders_command" xsi:type="object">CanadaSatellite\AstIntegration\Console\Command\ImportOrderCommand</item>
            </argument>
        </arguments>
    </type>
</config>