// ==============================================
// Core Application / Full MQ Support
// ==============================================

$mq-support: true;
$mq-fixed-value: false;

@import "framework";

body .minicart-wrapper .action.showcart::before {
  background: sprite($icns, aaa-cart-icon) no-repeat;
  background-size: 140%;
}

body .miniquote-wrapper .action.showquote:before {
  background: none;
}

body .header.content .account-link {
  background: sprite($icns, my-account-icon) no-repeat;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body .product-item .tocart,
body .product-item .tocart.action.primary,
body .product-item .tocart:hover,
body .product-item .tocart:active {
  position: relative;
  background: #b60304;
}

body .product-item .tocart:before,
body .product-item .tocart.action.primary:before,
body .product-item .tocart:hover:before,
body .product-item .tocart:active:before {
  background: sprite($icns, addtocart-icon) no-repeat #b60304;
  height: 17px;
  width: 20px;
  position: absolute;
  content: " ";
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -10px;
}

body .social-link-list li.facebook a {
  background: sprite($icns, facebook-icon) no-repeat;
}

body .social-link-list li.facebook a:hover {
  background: sprite($icns, facebook-icon-hover) no-repeat;
}

body .social-link-list li.twitter a {
  background: sprite($icns, twitter-icon) no-repeat;
}

body .social-link-list li.twitter a:hover {
  background: sprite($icns, twitter-icon-hover) no-repeat;
}

body .social-link-list li.youtube a {
  background: sprite($icns, you-tube-icon) no-repeat;
}

body .social-link-list li.youtube a:hover {
  background: sprite($icns, you-tube-icon-hover) no-repeat;
}

body .footer-call a {
  background: sprite($icns, footer-call) no-repeat;
}

body .footer-email a {
  background: sprite($icns, footer-email) no-repeat;
  padding-bottom: 1px;
}

body .footer-inner-left .box-content li a.location-icon {
  background: #ec2623;
  position: relative;
}

body .footer-inner-left .box-content li a.location-icon:before {
  background: sprite($icns, footer-location-icon) no-repeat;
  width: 28px;
  height: 28px;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}

body .footer-inner-left .box-content li a.call-icon {
  background: #ec2623;
  position: relative;
}

body .footer-inner-left .box-content li a.call-icon:before {
  background: sprite($icns, footer-call-icon) no-repeat;
  width: 28px;
  height: 28px;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}

body .footer-inner-left .box-content li a.email-icon {
  background: #ec2623;
  position: relative;
}

body .footer-inner-left .box-content li a.email-icon:before {
  background: sprite($icns, footer-email-icon) no-repeat;
  width: 28px;
  height: 28px;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}

body .footer-inner-left .box-content li a.location-icon:hover {
  background: #b60304;
}

body .footer-inner-left .box-content li a.call-icon:hover {
  background: #b60304;
}

body .footer-inner-left .box-content li a.email-icon:hover {
  background: #b60304;
}

body .nav-toggle::before {
  background: sprite($icns, menu-icon) no-repeat;
}

body .phone-number {
  background: none;
  position: relative;
}

body .phone-number:before {
  background: sprite($icns, call-icon) no-repeat;
  width: 28px;
  height: 28px;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -13px;
}

body .home-block .home-link {
  background: none;
  position: relative;
}

body .home-block .home-link:before {
  background: sprite($icns, home-icon) no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -45px;
  content: " ";
}

body .home-block .close-btn {
  background: none;
  position: relative;
}

body .home-block .close-btn:before {
  background: sprite($icns, close-btn) no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -17px;
  content: " ";
}

body .footer-inner-right .box h3.box-title::before {
  background: sprite($icns, arrow-green-down) no-repeat;
}

body .inc-dec-section .qty-plus .btn-qty.plus {
  background: none;
  position: relative;
}

body .inc-dec-section .qty-plus .btn-qty.plus:before {
  background: sprite($icns, qtyup) no-repeat #fbfbfb;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 30%;
  left: 22%;
  content: " ";
}

body .inc-dec-section .qty-plus .btn-qty.plus:hover {
  background: #b60304;
}

body .inc-dec-section .qty-plus .btn-qty.plus:hover:before {
  background: sprite($icns, qtyup-hover) no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 30%;
  left: 22%;
  content: " ";
}

body .inc-dec-section .qty-minus .btn-qty.minus {
  background: none;
  position: relative;
}

body .inc-dec-section .qty-minus .btn-qty.minus:before {
  background: sprite($icns, qtydown) no-repeat #fbfbfb;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 30%;
  left: 22%;
  content: " ";
}

body .inc-dec-section .qty-minus .btn-qty.minus:hover {
  background: #b60304;
}

body .inc-dec-section .qty-minus .btn-qty.minus:hover:before {
  background: sprite($icns, qtydown-hover) no-repeat #b60304;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 30%;
  left: 22%;
  content: " ";
}
